.song-detail {
  padding: 5px;
  margin-top: 10px;
}

.song-detail img {
  max-width: 245px;
  max-height: 245px;
  margin-top: 8vmax;
}

.song-detail p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  margin-left: 0px;
  color: #fff;
}


::placeholder {
  color: #fff;
}
