<div id="newReleasesId" class="new-releases">
  <h2 class="new-releases__title">Songs</h2>
  <div class="search-bar">
    <app-search (search)="filteredSongs($event)"></app-search>
  </div>

  <div class="new-releases__new-releases-section">
    <app-song-item [song]="song" *ngFor="let song of songs"></app-song-item>
    <!-- Inform if the search is empty -->
    <div *ngIf="songs.length < 1" class="song-item animated fadeIn">
      <h3>Ups! No hay ninguna cancion ni ningún artista artista con ese nombre</h3>
    </div>
  </div>
</div>
